<% provide(:title, "Inloggen") %>
<h1>Log in</h1>
<p>Hier kun je je inloggen op de Storyline app</p>
<div class="row">
  <div class="span6">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Inloggen", class: "btn" %>
    <% end %>

    <p>Nog geen account? <%= link_to "Maak een gratis account", sign_up_path, class: 'btn'%></p>
  </div>
</div>
