<% provide(:title, "Berichten") %>
<h1>Berichten</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Gelezen?</th>
    <th>Titel</th>
    <th>Verzonden</th>
    <th>Lezen</th>
  </tr>
  </thead>

  <tbody>
  <% @messages.each do |bericht| %>
      <tr>
        <% if bericht.read %>
            <td>Al gelezen</td>
        <% else %>
            <td>Nog niet gelezen</td>
        <% end %>

        <td><%= link_to bericht.title, read_message_path(bericht) %></td>
        <td><%= link_to bericht.created_at, read_message_path(bericht) %></td>
        <td><%= link_to "Lezen", read_message_path(bericht) %></td>
      </tr>
  <% end %>
  </tbody>
</table>