<% provide(:title, "Registreren") %>
<h1>Registreren</h1>

<div class="row">
  <div class="span6">
    <%= form_for(@user) do |f| %>
        <%= f.label "naam" %>
        <%= f.text_field :name, placeholder: "naam" %>

        <%= f.label "E-mail" %>
        <%= f.text_field :email, placeholder: "e-mailadres" %>

        <%= f.label "Password" %>
        <%= f.password_field :password, placeholder: "Password invoeren" %>

        <%= f.label "Wachtwoord bevestigen" %>
        <%= f.password_field :password_confirmation, placeholder: "Voer nogmaals password in" %>

        <%= f.submit "Klaar!", class: "btn" %>
    <% end %>

    <p>Heeft u al een account? <%= link_to "Klik hier om naar de inlogpagina te gaan, sign_in_path, class: 'btn btn-inverse' %></p>-->
  </div>
</div>
