<% provide(:title, @message.title) %>
<h1><%= @message.title %></h1>


    <span><%= @message.text %></span>

<%= link_to 'Bericht verwijderen', status_message_path(@message.id, 0), class: 'btn' %>

<% if !@message.friend_id.nil? && @message.friend_id > 0 # this really isn't very elegant, can this be improved? %> 
    <div>
      <h2>Wil je vrienden worden?</h2>
      
        <span><%= @friend.name %> heeft je toevegoegd als vriend. Wil je vrienden zijn? Accepteer dan de uitnodiging:</span>
        <%= link_to 'Accepteren', status_message_path(@message.id, 1), class: 'btn' %>
        <%= link_to 'Weigeren', status_message_path(@message.id, 0), class: 'btn' %>
      
    </div>
<% end %>

<% if !@message.game_id.nil? && @message.game_id > 0 # I still don't like the look of that, but it works %>
    <div>
      <h2><b>Je bent uitgedaagd tot een spelletje Storyline!</b></h2>
      
        <span>Je bent uitgedaagd voor een spelletje Storyline. Wil jij laten zien wat je kunt?</span>
        <%= link_to ' Ja', status_message_path(@message.id, 1), class: 'btn' %>
        <%= link_to ' Nee dank je', status_message_path(@message.id, 0), class: 'btn' %>
      
    </div>
<% end %>

<% if !@message.round_id.nil? && @message.round_id > 0 %>
    <div>
      <h2>Voortgang van storyline inzien</h2>
      
        <span>Kijk snel wat de voortgang is in de storyline:</span>
        <%= link_to 'Tonen', status_message_path(@message.id, 1), class: 'btn' %>
        <%= link_to 'Niet nu', status_message_path(@message.id, 0), class: 'btn'%>
      
    </div>
<% end %>