<% provide(:title, "Gebruikers info") %>
<h1>Gebruikers info</h1>

<h2>Mijn details</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Naam</th>
    <th>E-mailadres</th>
    <th>Datum van aanmelding</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.created_at %></td>
      </tr>
  </tbody>
</table>

<h2>Storylines</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Storyline nummer</th>
    <th>Aantal deelnemers</th>
    <th>Begonnen op</th>
    <th>aantal rondes</th>
    <th>Verhaalpanelen tot nu toe</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @user.games.each do |spel| %>
      <tr>
        <td><%= link_to spel.id, spel %></td>
        <td><%= link_to spel.participants.count, spel %></td>
        <td><%= link_to spel.created_at, spel %></td>
        <td><%= link_to spel.rounds.count, spel %></td>
        <td><%= link_to "Verhaalpanelen tot nu toe", game_story_path(spel) %></td>
        <td>
            <div class="progress progress-striped active">
                <div class="bar" style="width: <%=  100 / spel.get_status %>%;"></div>
            </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Vrienden</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Naam</th>
    <th>E-mailadres</th>
    <th>Geregistreerd op</th>
  </tr>
  </thead>

  <tbody>
  <% @user.friends.each do |vriend| %>
      <tr>
        <td><%= link_to vriend.name, vriend %></td>
        <td><%= link_to vriend.email, vriend %></td>
        <td><%= link_to vriend.created_at, vriend %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if !current_user.nil? &&  current_user.is_friend?(@user) %>
    <%= link_to 'Vriendschapsverzoek verzenden', add_friend_path, class: 'btn' %>
<% end %>