<h1>Storyline #<%= @game.id %> - Paneel #<%= @game.rounds.count %></h1>

<div class="alert alert-info">
  Start een nieuw spel of voeg leden toe.
  
  <%= link_to ' Start nieuwe storyline', new_game_path, class: 'btn' %>
  <%= link_to ' Vrienden toevoegen', current_user, class: 'btn' %>
</div>


  <h2>Nog <%= @game.get_status %> stappen te gaan voor de volgende ronde begint!</h2>
  <div class="progress progress-striped active">
    <div class="bar" style="width: <%=  100 / @game.get_status %>%;"></div>
  </div>


<% if @game.rounds.count > 0 && @game.rounds.last.storyFragment.to_s == '' %>
    <%= link_to ' Stap 1', game_step_one_path(@game.id), class: 'btn' %>
<% end %>

<% if @game.rounds.count > 0 && @game.rounds.last.storyFragment != '' %>
    <%= link_to ' Stap 2', game_step_two_path(@game.id), class: 'btn' %>
<% end %>

<% if !current_user.nil? && !@game.rounds.last.nil? && @game.rounds.last.submittedpictures.where("user_id", current_user.id).count > 1 && @game.rounds.last.submittedpictures.count >= @game.participants.count %>
    <%= link_to ' Stap 3', game_step_three_path(@game.id), class: 'btn' %>
<% end %>

<h1>Deelnemers</h1>


  <h2>Spelers</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Naam</th>
      <th>Score</th>
      <th>Link</th>
      <th>Volgers</th>
    </tr>
    </thead>

    <tbody>
    <% @game.participants.each do |deelnemer| %>
        <%
           if deelnemer.score.nil?
             deelnemer.score = 0 # beetje hacky dit, maar het werkt
           end
        %>
        <tr>
          <td><%= link_to deelnemer.user.name, deelnemer.user %></td>
          <td><%= link_to deelnemer.score, deelnemer.user %></td>
          <td><%= link_to "Tonen", deelnemer.user %></td>
          <td>
            <% if !current_user.nil? && current_user.is_friend?(deelnemer.user) %>
                <%= link_to  ' Toevoegen als vriend', add_friend_path(deelnemer.user), class: 'btn'%> 
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


<h1>Tot nu toe gespeelde rondes</h1>
<% @game.rounds.each do |ronde| %>
    <% if ronde.submittedpictures.count != 0 %>
    
      <h2>Het verhaal: <%= ronde.storyFragment %></h2>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Naam</th>
          <th>Aantal stemmen</th>
          <th>Link</th>
        </tr>
        </thead>

        <tbody>
            <% ronde.submittedpictures.each do |foto| %>
                <%
                   if foto.nrVotes.nil?
                     foto.nrVotes = 0 # daar issie weer
                   end
                %>
                <tr>
                  <% if foto.user.id != ronde.storyteller.id %>
                       <td><%= link_to foto.user.name, show_picture_path(foto.flickr_id) %></td>
                  <% else %>
                      <td><%= link_to foto.user.name + " (Storyteller)", show_picture_path(foto.flickr_id) %></td>
                  <% end %>
                  <td><%= link_to foto.nrVotes, show_picture_path(foto.flickr_id) %></td>
                  <td><%= link_to "Foto tonen", show_picture_path(foto.flickr_id), :target => "_blanc" %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
    
    <% end %>
<% end %>