<% provide(:title, "Een nieuw spel beginnen!") %>
<h1>Een nieuw spel beginnen</h1>

<%= form_tag(create_game_path()) do -%>
    <h2>Vul hier een awesome titel en uitnodigingstekst in</h2>
    
        <input  type="text" placeholder="Awesome titel" name="title">
        <textarea  placeholder="Awesome tekst" name="text"></textarea>
    </div>

    <h2>Voeg nieuwe deelnemers toe </h2>
    
      <input type="text"  id="search" placeholder="Zoeken op naam of e-mailadres" />
      <div id="user-box">

      </div>
    


    <h2>Selecteer vrienden die je wilt uitnodigen</h2>
    
      <% current_user.friends.each do |vriend| %>
          
            <p><%= vriend.name %></p>
            Uitnodigen: <input type="checkbox" name="users[<%= vriend.id %>]" value="1">
          
      <% end %>
    </div>

    
    <h2>Begin de storyline</h2>
    
        <p>Druk op de knop hieronder om de storyline te starten. </p>
        <input type="submit" class="btn" value="Start storyline" />
    
<% end -%>

<script type="text/javascript">
    $(document).on('click', '.add-user', function(){
        var
        id = $(this).data('id'),
        name = $(this).data('name'),
        htmlString = "";

        
        htmlString += '<p>' + name + '</p>';
        htmlString += 'Uitnodigen: <input type="checkbox" name="users[' + id + ']" value="1">';
        

        $('#users-box').prepend(htmlString);
    });

    $('#search').on('keyup', function() {
        function ToonGegevens(data) {
            var htmlString = "";

            for (var i = 0; i < data.length; i++) {
                
                htmlString += data[i].name;
                htmlString += '<div data-id="' + data[i].id + '" data-name="' + data[i].name + '">Toevoegen aan lijst</div>';
                
            }

            $('#user-box').html(htmlString);
        }

        if(this.value != ''){
            $.ajax(
            {
                type: 'GET',
                url: "/gebruiker/zoeken/" + this.value,
                async: true,
                success: function(data)
                {
                    ToonGegevens(data)
                }
            });
        }
    });
</script>