<% provide(:title, "Stap 1") %>
<h1>Voeg verhaaltekst toe aan het paneel</h1>


  <h2>Nog 2 stappen voor de volgende ronde</h2>
    <div class="progress progress-striped active">
      <div class="bar" style="width: <%=  100 / @game.get_status %>%;"></div>
    </div>


<div class="row">
  <div class="span6">
    <%= form_for(@round, url: game_step_one_add_text_path(@round)) do |f| %>
        <%= f.label "Verhaaltekst" %>
        <%= f.text_area :storyFragment, placeholder: "Schrijf een passend verhaalfragment" %>

        <%= f.submit "Volgende stap", class: "btn" %>
    <% end %>
  </div>
</div>