<% provide(:title, "Stap 2") %>
<h1>Nu een willekeurige foto uitkiezen</h1>


  <p>Dit is stap 2, waar een foto moet worden gekozen voor het ingevoerde stukje tekst </p>
  <div class="progress progress-striped active">
    <div class="bar" style="width: <%=  100 / @game.get_status %>%;"></div>
  </div>
</div>


  <p>Gebruik het invoerveld om zogenaamde 'tags' (sleutelwoorden) voor de foto in te toetsen. Gebruik tags die te maken hebben met de tekst die in stap 1 is ingevoerd. Of ...niet. Wees creatief! </p>
    <div>
      <input type="text" id="search" placeholder="Voer hier zoekwoorden in" />
    </div>
    <div id="img-box">

    </div>
</div>

<script type="text/javascript">
    var game_id = <%= @game.rounds.last.id %>,
      user_id = <%= current_user.id %>,
      writer = <%= @writer  %>;

    $('#search').on('change', function() {
        function ToonAfbeeldingen(data) {
            var htmlString = "<h2>Kies een leuke bijpassende foto bij de ingevoerde tekst</h2><p><%= @game.rounds.last.storyFragment %></p>";

            for (var i = 0; i < data.length; i++) {
                htmlString += '<a href="/game/' + game_id + '/twee/addphoto/' + data[i].flickr_id + '/' + user_id + '/' + writer + '">';
                htmlString += '<img class="img-polaroid" title="' + data[i].flickr_id + '" src="' + data[i].photo;
                htmlString += '" alt="'; htmlString += data[i].title + '" />';
                htmlString += '</a>';
            }

            $('#img-box').html(htmlString);
        }

        $.ajax(
        {
            type: 'GET',
//            url: "http://localhost:3000/submittedpictures/select/" + this.value,
            url: "/pictures/" + this.value,
            async: true,
            success: function(data) {
			    alert("Works!");
                {
                    ToonAfbeeldingen(data);
                }
            }
        });
    });
</script>
