<% if @game.get_status == 1 %>
    <% provide(:title, "Stap 2: Stem op een plaatje") %>
    <h1>Stemmen!</h1>

    <p>Nu is het tijd een plaatje te kiezen voor het ingevulde tekstfragment. Hieronder volgt de ingevoerde tekst. Succes! </p>
    

          <%= @game.rounds.last.storyFragment %>
        
    

    
      <% @pictures.each do |foto| # MEMO: I love the each method. I really, really do! :) %>
          <%= link_to image_tag(foto[:photo], alt: "Nutteloze alt-tekst", title: "Dit vind ik de beste!", class: "img-polaroid"),  game_step_two_three_vote_photo_path(foto[:picture_id]) %>
      <% end %>
    </div>
<% else %>
    <% provide(:title, "Stap drie") %>
    <h1><b>Tik ...tak ...tik ...tak ...</b></h1>

    
      <p>Saai hë, dat wachten? Ga anders wat koffie zetten. Eerst moeten alle spelers gestemd hebben </p>
      <div class="progress progress-striped active">
        <div class="bar" style="width: <%=  100 / (@game.get_status - (@game.rounds.last.submittedpictures.count.to_f / @game.participants.count.to_f)) %>%;"></div>
      </div>
      <p>Er zijn al <%= @game.rounds.last.submittedpictures.count %> foto's ingeleverd van de <%= @game.participants.count %>.</p>
    </div>
<% end %>