<% provide(:title, "Het verhaal!") %>
<h1>Het verhaal.</h1>
<% rounds = @game.rounds.reverse %>
<% rounds.each do |ronde| %>
    <% if !ronde.storyteller.nil?  %>
        
        <h2><%= ronde.storyteller.name %> schreef het volgende:</h2>
        <span><%= round.storyFragment %></span>
          <% if !ronde.final_picture.nil? %>
              <p><%= image_tag(ronde.final_picture.get_link[:photo], alt: "Foto", class: "img-polaroid") %></p>
          <% else %>
            <p>De stemmen zijn nog niet binnen, dus de laatste foto is nog niet bekend.</p>
          <% end %>
        </div>
    <% end %>
<% end %>