<h1>Storyline homepage!</h1>
<p>Welkom op deze Storyline website. Hieronder zijn verscheidene lopende storylines te zien zodat u al vast een voorproefje kunt krijgen van wat deze website u te bieden heeft.


    


<h2>Storylines</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Aantal deelnemers</th>
    <th>Datum van aanvang</th>
    <th>Aantal rondes</th>
    <th>Momenteel aantal panels</th>
    <th>Staat</th>
  </tr>
  </thead>

  <tbody>
  <% @games.each do |spel| %>
      <tr>
        <td><%= link_to spel.id, spel %></td>
        <td><%= link_to spel.participants.count, spel %></td>
        <td><%= link_to spel.created_at, spel %></td>
        <td><%= link_to spel.rounds.count, spel %></td>
        <td><%= link_to "Panels", game_story_path(spel) %></td>
        <td>
          <div class="progress progress-striped active">
            <div class="bar" style="width: <%=  100 / spel.get_status %>%;"></div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Leden</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Naam</th>
    <th>E-mailadres</th>
    <th>Lid sinds</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= link_to user.created_at, user %></td>
      </tr>
  <% end %>
  </tbody>
</table>