<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Storyline", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <%= render 'layouts/links' %>
        </ul>
      </nav>
    </div>
  </div>
</header>