<li><%= link_to "Home",    '/' %></li>

<% if signed_in? %>
    <li><%= link_to "Start nieuwe storyline", new_game_path %></li>
    <li><%= link_to "Inbox (" + current_user.unread_messages.count.to_s + ")", user_messages_path %></li>
    <li><%= link_to "Gebruikersdetails", user_path(current_user) %></li>
    <li><%= link_to 'Uitloggen', sign_out_path, class: 'btn' %></li>
<% else %>
    <li><%= link_to 'Inloggen', sign_in_path, class: 'btn'%></li>
<% end %>